<h2>Products</h2>
<div *ngFor="let product of products">
  <h3>
    <app-product-alerts [product]=product/>
    <a [title]="product.name + ' details'">
    {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description else nodescription">
  Description: {{ product.description }}
  </p>

  <ng-template #nodescription>
    Description: Not provided
  </ng-template>

  <button type="button" (click)="share()">Share</button>
  <button type="button" (click)="blame(product.name)">Blame</button>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->